@font-face {
    font-family: "Anybody";
    src: url("../fonts/Anybody-Regular.woff2") format("woff2"), url("../fonts/Anybody-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Anybody";
    src: url("../fonts/Anybody-Medium.woff2") format("woff2"), url("../fonts/Anybody-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Anybody";
    src: url("../fonts/Anybody-SemiBold.woff2") format("woff2"), url("../fonts/Anybody-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Amalfi Coast";
    src: url("../fonts/Amalfi-Coast.woff") format("woff2"), url("../fonts/Amalfi-Coast.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Monera Calm";
    src: url("../fonts/MoneraCalm.woff2") format("woff2"), url("../fonts/MoneraCalm.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Anybody";
    src: url("../fonts/Anybody-ExtraLight.woff2") format("woff2"),
        url("../fonts/Anybody-ExtraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
html {
    scroll-behavior: smooth;
}
html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: "Anybody";
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding-left: 0;
    margin-bottom: 0;

    li {
        list-style-type: none;

        a {
            text-decoration: none;
        }
    }
}

a {
    text-decoration: none;
    color: var(--color-gray);
}

:root {
    --color-blue: #24378d;
    --color-gray: #8e8e8e;
    --color-gray-footer: #b7b7b7;
    --color-dark-gray: #5e5e5e;
    --color-white: #fff;
    --color-gray-light: #f3f0f0;
    --color-gray-2: #c3c4c5;
    --color-black: #000;
}

//responsive breakpoints
$sm-breakpoint: 600px; //Small
$md-breakpoint: 768px; //Medium
$lg-breakpoint: 991px; //Large
$xl-breakpoint: 1200px; //Extra large
$xxl-breakpoint: 1400px; //Extra extra large

@mixin title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-blue);
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    @media screen and(max-width:$lg-breakpoint) {
        font-size: 1.5rem;
    }
    @media screen and(max-width:$sm-breakpoint) {
        font-size: 1.3rem;
    }
}

@mixin top-area {
    @media screen and(max-width:$sm-breakpoint) {
        flex-direction: column;
    }
    h3 {
        color: var(--color-dark-gray);
        font-size: 2rem;
        font-weight: 500;
    }
    form {
        max-width: 16rem;
        width: 100%;
        .input-group {
            button {
                padding: 0;
                margin-right: 0.5rem;
                @include focus;
            }
            .form-control {
                border: none;
                padding: 0;
                border-bottom: 3px solid var(--color-blue);
                border-radius: 0;
                color: var(--color-gray);
                @include focus;
            }
        }
    }
}

@mixin last-blog-post {
    padding: 0rem 2rem;
    h4 {
        font-size: 2rem;
        color: var(--color-blue);
        font-weight: 600;
        margin-bottom: 2rem;
        margin-left: -2rem;
        @media screen and(max-width:$xl-breakpoint) {
            font-size: 1.6rem;
        }
    }
    ul {
        li {
            margin-bottom: 2rem;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background-color: var(--color-blue);
                left: -1.7rem;
                top: 0.2rem;
                @media screen and(max-width:$xl-breakpoint) {
                    width: 0.8rem;
                    height: 0.8rem;
                }
            }
            a {
                font-size: 1.2rem;
                font-weight: 400;
                transition: 0.3s all;
                &:hover {
                    color: var(--color-blue);
                }
                @media screen and(max-width:$xl-breakpoint) {
                    font-size: 1rem;
                }
            }
        }
    }
}

@mixin dropdown-menu {
    .dropdown-menu {
        left: 0;
        padding: 0;
        display: block;
        top: 5.8rem;
        &.exit-menu {
            display: none !important;
        }
        @media screen and(max-width:$xl-breakpoint) {
            top: 4.8rem;
        }

        @media screen and(max-width:$lg-breakpoint) {
            left: 0;
            height: 100%;
            right: 0;
            top: 0;
            overflow: scroll;
        }

        .img-area {
            background: rgb(39, 57, 144);
            background: linear-gradient(
                150deg,
                rgba(39, 57, 144, 1) 0%,
                rgba(62, 76, 151, 1) 35%,
                rgba(63, 77, 152, 1) 78%,
                rgba(73, 87, 156, 1) 100%
            );
            img {
                object-fit: cover;
            }
        }

        .submenu-area {
            padding: 2rem;
            @media screen and(max-width:$lg-breakpoint) {
                flex-direction: column;
                width: 100%;
                text-align: right;
            }
            .exit-sub-menu {
                font-size: 1.2rem;
                font-weight: 500;
                i {
                    font-size: 1rem;
                }
            }
            .sub-item {
                .sub-menu-title {
                    color: var(--color-blue);
                    display: inline-block;
                    font-size: 1.2rem;
                    font-weight: 500;
                    position: relative;
                    padding-bottom: 0.8rem;
                    &::after {
                        content: "";
                        border-bottom: 3px solid var(--color-blue);
                        display: block;
                        bottom: 0;
                    }
                }
                .sub-menu {
                    li {
                        margin-bottom: 0.2rem;
                        a {
                            color: var(--color-blue);
                            font-size: 1.1rem;
                            font-weight: 400;
                            transition: 0.3s all;
                            &::after {
                                display: none;
                            }
                            @media screen and(max-width:$lg-breakpoint) {
                                color: var(--color-gray);
                            }
                            &:hover{
                                color: var(--color-gray);
                            }
                        }
                    }
                }
                &:first-child {
                    margin-right: 0 !important;
                }
                margin-right: 3rem;
                @media screen and(max-width:$xl-breakpoint) {
                    margin-right: 1rem;
                }
                @media screen and(max-width:$lg-breakpoint) {
                    margin-right: 0;
                }
            }
        }
    }
}

@mixin focus {
    &:focus {
        box-shadow: none;
    }
}

@mixin p {
    font-weight: 400;
    font-size: 1.1rem;
    text-align: left;
    color: var(--color-white);
    @media screen and(max-width:$sm-breakpoint) {
        font-size: 0.9rem;
    }
}

@mixin card-hover {
    &:hover {
        .detail-link {
            visibility: visible;
            opacity: 9;
            right: 0;
        }
    }
    .detail-link {
        top: 0;
        right: -1rem;
        height: 4rem;
        width: 4rem;
        position: absolute;
        z-index: 99999;
        background: var(--color-blue);
        transition: 0.3s all;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        i {
            font-size: 2rem;
            color: var(--color-white);
        }
        
    }
}

header {
    nav {
        @media screen and(max-width:$lg-breakpoint ) {
            flex-direction: row-reverse;
        }
        .top-line {
            border-bottom: 1px solid var(--color-blue);
            padding: 1.5rem 0rem;

            .contact-us,
            .social-media {
                margin-bottom: 0;

                li {
                    margin-right: 1rem;

                    a {
                        color: var(--color-gray);
                        font-weight: 500;
                        &:hover{
                            color: var(--color-blue);
                        }

                        i {
                            margin-right: 0.4rem;
                            color: var(--color-blue);
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            .social-media {
                li {
                    a {
                        color: var(--color-blue);
                        &:hover{
                            color: var(--color-gray);
                        }
                    }
                }
            }
        }

        .header-inner {
            border-bottom: 1px solid var(--color-blue);
            height: 6rem;
            .container {
                position: relative;
                @media screen and(min-width:$xl-breakpoint) {
                    height: 100%;
                }
                .row {
                    height: 100%;
                }
            }

            &.sticky {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                background-color: #fffffffa;
                z-index: 999999;
                transition: 1s all;
            }

            .navbar-brand {
                img {
                    max-width: 11rem;
                    object-fit: cover;
                    @media screen and(max-width:$xl-breakpoint ) {
                        max-width: 8rem;
                    }
                }
            }

            nav {
                height: 100%;
                #toggle-btn {
                    display: none;
                    background-color: transparent;
                    border: none;

                    @media screen and(max-width:$lg-breakpoint ) {
                        display: block !important;
                    }

                    i {
                        font-size: 1.5rem;
                    }
                }
                .nav-menu {
                    @media screen and(min-width:$xl-breakpoint) {
                        height: 100%;
                    }
                    @media screen and(max-width:$lg-breakpoint ) {
                        right: -130px;
                        padding: 2rem;
                        transition: 0.3s all;
                        width: 0%;
                        top: 6rem;
                        bottom: 0;
                        background-color: var(--color-white);
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: column !important;
                        align-items: flex-start !important;
                        z-index: 9999;
                        position: fixed;
                    }

                    &.active {
                        right: 0;
                        width: 100%;
                    }
                    .navigation {
                        @media screen and(min-width:$xl-breakpoint) {
                            height: 100%;
                        }

                        li {
                            @media screen and(min-width:$xl-breakpoint) {
                                height: 100%;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                            }
                            a {
                                font-weight: 500;
                                font-size: 1.3rem;
                                color: var(--color-gray);
                                cursor: pointer;
                                display: inline-block;
                                position: relative;
                                &:hover {
                                    color: var(--color-blue);
                                    &::after {
                                        content: "";
                                        border-bottom: 2px solid var(--color-blue);
                                        display: block;
                                        bottom: 0;
                                    }
                                }
                                @media screen and(min-width:1366px) and (max-width: 1400px) {
                                    font-size: 1.1rem;
                                }
                            }

                            &:hover {
                                @media screen and(min-width:$xl-breakpoint) {
                                    @include dropdown-menu;
                                }
                            }
                            &.show {
                                @include dropdown-menu;
                            }
                        }
                    }
                }

                .search-button {
                    margin-left: 2rem;

                    cursor: pointer;

                    .search-toggle {
                        background-color: transparent;
                        border: none;
                        i {
                            font-size: 1.3rem;
                            color: var(--color-gray);
                        }
                    }
                    .ui-search-bar {
                        input {
                            display: none;
                            position: absolute;
                            bottom: -5rem;
                            z-index: 99999;
                            width: 100%;
                            left: 0;
                            height: 5rem;
                            color: var(--color-gray);
                            font-size: 1.2rem;
                            padding-left: 1rem;
                            &:focus {
                                border: 1px solid var(--color-blue);
                            }
                            @media screen and(max-width:$xl-breakpoint ) {
                                bottom: -6rem;
                            }
                            @media screen and(max-width:$lg-breakpoint ) {
                                height: 3rem;
                                bottom: -4rem;
                            }
                        }
                    }
                }
            }

            .online-meeting-button {
                @media screen and(max-width:$xl-breakpoint ) {
                    display: none !important;
                }
                a {
                    font-weight: 600;
                    font-size: 1.4rem;
                    padding: 0.6rem 0.5rem;
                    background: rgb(47, 65, 144);
                    background: linear-gradient(
                        90deg,
                        rgba(47, 65, 144, 1) 0%,
                        rgba(88, 100, 155, 1) 35%,
                        rgba(120, 127, 163, 1) 78%,
                        rgba(165, 167, 174, 1) 100%
                    );
                    background-size: 300%;
                    color: var(--color-white);
                    animation-duration: 4s;
                    animation-iteration-count: infinite;
                    animation-name: gradients;
                    @media screen and(min-width:1366px) and(max-width:1400px) {
                        font-size: 1rem;
                        padding: 0.4rem 0.3rem;
                    }
                }
            }

            .language-area {
                @media screen and(max-width:$lg-breakpoint ) {
                    display: none !important;
                }
                &.mobil {
                    @media screen and(max-width:$lg-breakpoint ) {
                        display: flex !important;
                        padding-left: 1rem;
                    }
                }
                img {
                    margin-right: 0.4rem;
                }

                li {
                    margin-right: 0.5rem;

                    &:last-child {
                        margin-right: 0;
                    }

                    button {
                        background-color: transparent;
                        border: 0;
                        font-weight: 900;
                        font-size: 1rem;
                        color: var(--color-dark-gray);

                        &.active {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

.banner {
    height: 100%;
    width: 100%;
    overflow: hidden;
    height: calc(100% - 130px);
    position: relative;

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        padding-left: 4.5rem;
        @media screen and(max-width:$sm-breakpoint) {
            padding-left: 2.4rem;
        }

        &::before {
            content: "";
            position: absolute;
            width: 94%;
            height: 84%;
            left: 2rem;
            display: block;
            z-index: 99;
            background: rgb(194, 202, 230);
            background: linear-gradient(
                29deg,
                rgba(194, 202, 230, 0.651) 70%,
                rgba(233, 237, 239, 0.43883490896358546) 88%
            );

            @media screen and(max-width:$xl-breakpoint) {
                width: 90%;
            }
            @media screen and(max-width:$sm-breakpoint) {
                left: 1rem;
                width: 92%;
            }
        }

        .content {
            @media screen and(max-width:2700px) {
                margin-left: 34rem;
            }

            @media screen and(max-width:2000px) {
                margin-left: 15rem;
            }
            @media screen and(max-width:1600px) {
                margin-left: 1rem;
            }
            @media screen and(max-width:1366px) {
                margin-left: 3rem;
            }
            @media screen and(max-width:$xl-breakpoint) {
                margin-left: 0;
            }
            max-width: 39rem;
            text-align: left;
            @media screen and(max-width:$xl-breakpoint) {
                max-width: 30rem;
            }
            h5 {
                color: white;
                font-size: 2.5rem;
                font-weight: 500;
                @media screen and(max-width:$xl-breakpoint) {
                    font-size: 2rem;
                }
                @media screen and(max-width:$sm-breakpoint) {
                    font-size: 1.2rem;
                }
            }
            h1 {
                font-size: 4rem;
                font-weight: 600;
                color: var(--color-blue);
                @media screen and(max-width:$xl-breakpoint) {
                    font-size: 2.5rem;
                }
                @media screen and(max-width:$sm-breakpoint) {
                    font-size: 2rem;
                }
            }
            img {
                max-width: 3rem;
                @media screen and(max-width:$xl-breakpoint) {
                    max-width: 2rem;
                }
            }
            .support-area {
                margin-left: 1rem;
                span {
                    font-size: 1.5rem;
                    font-weight: 400;
                    color: var(--color-blue);
                    @media screen and(max-width:$xl-breakpoint) {
                        font-size: 1.4rem;
                    }
                    @media screen and(max-width:$sm-breakpoint) {
                        font-size: 1.2rem;
                    }
                }
                p {
                    color: var(--color-white);
                    font-size: 1.3rem;
                    font-weight: 400;
                    @media screen and(max-width:$xl-breakpoint) {
                        font-size: 1.2rem;
                    }
                    @media screen and(max-width:$xl-breakpoint) {
                        font-size: 1rem;
                    }
                }
                a {
                    background-color: #656565;
                    color: var(--color-white);
                    font-size: 1.5rem;
                    padding: 0.8rem 1.5rem;
                    font-weight: 500;
                    display: inline-block;
                    transition: 0.3s all;
                    i {
                        margin-left: 0.5rem;
                        transition: 0.3s all;
                    }
                    @media screen and(max-width:$xl-breakpoint) {
                        font-size: 1.3rem;
                    }
                    @media screen and(max-width:$xl-breakpoint) {
                        font-size: 1.1rem;
                        padding: 0.8rem 1rem;
                    }
                    &:hover {
                        background-color: var(--color-blue);
                        i {
                            margin-left: 0.8rem;
                        }
                    }
                }
            }
        }
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper {
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        left: inherit !important;
        width: 0% !important;
        right: 0 !important;
    }
    .swiper-pagination {
        top: 0;
        padding-right: 2rem;
        @media screen and(max-width:$lg-breakpoint) {
            padding-right: 0.5rem;
        }

        .swiper-pagination-bullet-active {
            background-color: var(--color-dark-gray) !important;
        }

        .swiper-pagination-bullet {
            margin-bottom: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            opacity: 9;
            width: 0.8rem;
            height: 0.8rem;
            background-color: transparent;

            &::before {
                height: 39px;
                display: flex;
                justify-content: center;
                align-items: center;
                /* border-right: 2px solid var(--color-dark-gray); */
                content: "";
                position: absolute;
                z-index: -1;
                background-color: var(--color-dark-gray);
                width: 2px;
            }
        }
    }
}

.speed-appointment {
    background-color: var(--color-gray-light);
    padding: 3.7rem 0rem;
    @media screen and(max-width:$lg-breakpoint ) {
        padding: 1rem 0rem 1rem 0rem;
    }

    img {
        max-width: 15rem;
    }

    .text-area {
        padding-right: 0;
        @media screen and(max-width:$lg-breakpoint ) {
            padding-left: 0;
            overflow: hidden;
        }

        .content {
            position: relative;
            background-color: white;
            background-color: var(--color-blue);
            margin-top: -10rem;
            z-index: 999;
            padding: 3.5rem 2rem;
            @media screen and(max-width:$lg-breakpoint ) {
                margin-top: 0;
            }

            h3 {
                font-family: "Amalfi Coast";
                color: var(--color-white);
                font-size: 4.5rem;
                margin: 1rem 0rem 3rem 0rem;

                @media screen and(max-width:1366px) {
                    font-size: 3rem;
                }
                @media screen and(max-width:$sm-breakpoint) {
                    font-size: 1.5rem;
                }
            }

            .text {
                max-width: 30rem;

                p {
                    color: var(--color-white);
                    text-align: center;
                    font-weight: 500;
                    font-size: 1rem;
                    @media screen and(max-width:$sm-breakpoint) {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

    .quick-appointment {
        background-color: var(--color-white);
        padding: 2rem 0rem;
        position: relative;
        z-index: 999;
        margin-top: -10rem;
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        h3 {
            color: var(--color-blue);
            font-size: 2.5rem;
            position: relative;
            display: inline-block;
            @media screen and(max-width:$sm-breakpoint ) {
                margin-top: 1.3rem;
                font-size: 1.8rem;
            }
            &::after {
                content: "";
                border-bottom: 3px solid var(--color-blue);
                display: block;
                bottom: 0;
            }
        }
        @media screen and(max-width:$lg-breakpoint ) {
            margin-top: 0;
        }
        .row {
            padding: 2rem;

            img {
                object-fit: cover;
            }
        }

        form {
            .bootstrap-datetimepicker-widget table th {
                height: 30px;
            }
            .form-group {
                ::-webkit-input-placeholder {
                    /* Edge */
                    font-weight: 500;
                }
                .form-control {
                    border: none;
                    height: 3.5rem;
                    padding-left: 1.5rem;
                    -webkit-box-shadow: 3px 7px 23px -8px rgba(0, 0, 0, 0.42);
                    -moz-box-shadow: 3px 7px 23px -8px rgba(0, 0, 0, 0.42);
                    box-shadow: 3px 7px 23px -8px rgba(0, 0, 0, 0.42);
                }
            }
        }
        .button-area {
            width: 100%;
            padding: 0rem 1rem;

            button {
                width: 100%;
                background-color: var(--color-gray-2);
                color: var(--color-white);
                font-weight: 600;
                letter-spacing: 0.2rem;
                font-size: 1.2rem;
                transition: 0.3s all;
                @include focus;
                &:hover {
                    background-color: var(--color-blue);
                }
            }
        }
    }
}

.our-services {
    padding: 5rem 0rem;
    position: relative;
    background-color: var(--color-white);
    margin-left: auto;
    margin-right: auto;
    width: 80%;

    @media screen and(min-width:2000px) {
        width: 70%;
    }
    @media screen and(max-width:$lg-breakpoint) {
        padding: 3rem 0rem;
    }

    @media screen and(max-width:1440px) {
        width: 90%;
    }

    /* make room for arrows */
    padding-left: 2em;
    padding-right: 2em;

    h2 {
        @include title;
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 0;
        @media screen and(min-width:2000px) {
            right: 10px !important;
        }
        @media screen and(max-width:$sm-breakpoint) {
            right: -1rem;
        }
    }
    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 0;
        @media screen and(min-width:2000px) {
            left: 10px !important;
        }
        @media screen and(max-width:$sm-breakpoint) {
            left: -1rem;
        }
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .card {
            @include card-hover;
            .card-body {
                padding: 2rem;
                text-align: left;
                height: 15rem;
                background-color: var(--color-blue);
                color: var(--color-white);
                @media screen and(max-width:$sm-breakpoint) {
                    height: auto;
                }
                .card-title {
                    font-weight: 600;
                    letter-spacing: 0.2rem;
                    font-size: 1.3rem;
                    @media screen and(max-width:$sm-breakpoint) {
                        font-size: 1.1rem;
                    }
                }

                .card-text {
                    @include p;
                }
            }
        }
    }
}

.our-services-galery {
    padding: 2rem 0rem;
}

.why-us {
    padding: 5rem 0rem;
    position: relative;
    background-color: var(--color-gray-light);
    @media screen and(max-width:$lg-breakpoint) {
        padding: 3rem 0rem;
    }

    h2 {
        @include title;

        span {
            font-family: "Monera Calm";
            font-size: 3rem;
            margin-left: -1rem;
            @media screen and(max-width:$sm-breakpoint) {
                font-size: 2rem;
                margin-left: 0rem;
            }
        }
    }

    .card {
        background-color: transparent;
        border: none;

        img {
            max-width: 10rem;
            object-fit: cover;
            @media screen and(max-width:1440px) {
                max-width: 8rem;
            }
        }

        .card-body {
            p {
                @include p;
                color: var(--color-black) !important;
                @media screen and(max-width:1440px) {
                    font-size: 1rem;
                }
            }
        }
    }
}

.sub-banner {
    min-height: 40vh;
    position: relative;
    width: 100%;
    z-index: 99;
    @media screen and(max-width:$xl-breakpoint) {
        min-height: 30vh;
    }
    &::before {
        content: "";
        position: absolute;
        background-color: rgba(255, 255, 255, 0.856);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        z-index: -1;
    }
    .content {
        z-index: 999;
        h1 {
            color: var(--color-blue);
            font-weight: 500;
            font-size: 4rem;
            @media screen and(max-width:$xl-breakpoint) {
                font-size: 2.5rem;
            }
        }
        a {
            color: var(--color-gray);
            font-size: 1.3rem;
            font-weight: 400;
            transition: 0.3s all;
            &:hover {
                color: var(--color-blue);
                border-bottom: 1px solid var(--color-blue);
            }
            @media screen and(max-width:$xl-breakpoint) {
                font-size: 1.1rem;
            }
            @media screen and(max-width:$sm-breakpoint) {
                font-size: 1rem;
            }
        }
        i {
            margin: 0rem 0.5rem;
            font-size: 1.3rem;
            color: var(--color-blue);
        }
    }
}

.doctors {
    position: relative;
    padding: 4rem 0rem 2rem 0rem;
    @media screen and(max-width:$sm-breakpoint) {
        padding: 2rem 0rem 2rem 0rem;
    }
    .top-area {
        @include top-area;
    }

    .card {
        border: none;
        -webkit-box-shadow: 0px 2px 27px -10px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: 0px 2px 27px -10px rgba(0, 0, 0, 0.55);
        box-shadow: 0px 2px 27px -10px rgba(0, 0, 0, 0.55);
        transition: 0.3s all;
        @include card-hover;
        &:hover {
            .card-body {
                .btn {
                    color: var(--color-white);
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
        img {
            height: 17rem;
            object-fit: cover;
        }

        .card-body {
            height: 7rem;
            background-color: var(--color-white);

            h5 {
                color: var(--color-gray);
                font-size: 1.2rem;
                @media screen and(max-width:$xl-breakpoint) {
                    font-size: 1rem;
                }
            }
            p {
                color: var(--color-blue) !important;
                font-weight: 600 !important;
                @include p;
            }

            .btn {
                padding: 0.7rem 2.5rem;
                border: 1px solid var(--color-blue);
                color: var(--color-blue);
                font-weight: 600;
                font-size: 1.1rem;
                letter-spacing: 0.1rem;
                position: relative;
                overflow: hidden;
                transition: 0.3s all;
                z-index: 9;
                @media screen and(max-width:$xl-breakpoint) {
                    padding: 0.5rem 1rem;
                    font-size: 1rem;
                }
                &::before {
                    content: "";
                    background-color: var(--color-blue);
                    position: absolute;
                    transition: 0.3s all;
                    height: 100%;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    z-index: -1;
                    width: 0%;
                }
            }
        }
    }
}
.doctor-detail {
    position: relative;
    padding: 4rem 0rem 2rem 0rem;
    @media screen and(max-width:$sm-breakpoint) {
        padding: 2rem 0rem 2rem 0rem;
    }
    .top-area {
        @include top-area;
    }

    .detail-area {
        h5 {
            margin-top: 1rem;
            color: var(--color-gray);
            font-size: 1.1rem;
            font-weight: 400;
        }
        p {
            color: var(--color-blue);
            font-weight: 600 !important;
            font-size: 1rem;
        }
        .person-info {
            @media screen and(max-width:$lg-breakpoint) {
                margin-top: 1rem;
            }
            h4 {
                color: var(--color-blue);
                font-size: 1.4rem;
                span {
                    margin-left: 2rem;
                    font-weight: 500;
                    color: var(--color-gray);
                }
            }
            p {
                color: var(--color-gray);
                font-size: 1rem;
                font-weight: 400 !important;
            }
        }
    }

    .working-hours {
        background-color: var(--color-blue);
        height: 26rem;
        color: var(--color-white);
        padding: 2rem;
        h5 {
            font-size: 1.3rem;
            font-weight: 500;
            margin-bottom: 2rem;
            letter-spacing: 0.1rem;
        }

        .days {
            .day-item {
                margin-bottom: 1rem;
                border-bottom: 1px solid var(--color-white);
                span {
                    font-weight: 400;
                    font-size: 1rem;
                }
            }
        }
    }
}

.our-treatments {
    position: relative;
    padding: 4rem 0rem 2rem 0rem;
    @media screen and(max-width:$sm-breakpoint) {
        padding: 2rem 0rem 2rem 0rem;
    }
    .top-area {
        @include top-area;
    }
    .card {
        border: none;
        -webkit-box-shadow: 0px 2px 27px -10px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: 0px 2px 27px -10px rgba(0, 0, 0, 0.55);
        box-shadow: 0px 2px 27px -10px rgba(0, 0, 0, 0.55);
        transition: 0.3s all;
        @include card-hover;
        &:hover {
            .card-body {
                .btn {
                    color: var(--color-white);
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
        .card-img-top {
            height: 17rem;
            object-fit: cover;
        }

        .card-body {
            height: 18rem;
            background-color: var(--color-white);
            padding: 2rem 1rem 2rem 1rem;
            @media screen and(max-width:$sm-breakpoint) {
                height: 16rem;
            }
            .icon-area {
                background-color: var(--color-white);
                height: 7rem;
                width: 7rem;
                z-index: 999;
                margin-top: -6rem;
                -webkit-box-shadow: 0px 2px 27px -10px rgba(0, 0, 0, 0.55);
                -moz-box-shadow: 0px 2px 27px -10px rgba(0, 0, 0, 0.55);
                box-shadow: 0px 2px 27px -10px rgba(0, 0, 0, 0.55);
                img {
                    max-width: 4rem;
                }
                @media screen and(max-width:$xl-breakpoint) {
                    height: 6rem !important;
                    width: 6rem !important;
                    margin-top: -5rem !important;
                    img {
                        max-width: 3rem !important;
                    }
                }
            }
            h5 {
                color: var(--color-blue);
                font-size: 1.4rem;
                font-weight: 500;
                @media screen and(max-width:$xl-breakpoint) {
                    font-size: 1.1rem;
                }
            }
            p {
                color: var(--color-gray);
                font-weight: 500;
                font-size: 1rem;
                @media screen and(max-width:$xl-breakpoint) {
                    font-size: 0.9rem;
                }
            }
        }
    }
}

.our-treatments-detail {
    position: relative;
    padding: 4rem 0rem 2rem 0rem;
    @media screen and(max-width:$sm-breakpoint) {
        padding: 2rem 0rem 2rem 0rem;
    }
    .top-area {
        @include top-area;
        margin-bottom: 2rem;
        h3 {
            font-size: 2.5rem;
            span {
                color: var(--color-blue);
            }
            @media screen and(max-width:$xl-breakpoint) {
                font-size: 1.8rem;
            }
        }
    }

    .sidebar {
        -webkit-box-shadow: 3px 7px 23px -8px rgba(0, 0, 0, 0.42);
        -moz-box-shadow: 3px 7px 23px -8px rgba(0, 0, 0, 0.42);
        box-shadow: 3px 7px 23px -8px rgba(0, 0, 0, 0.42);
        height: 100%;
        padding: 3rem 2rem;

        ul {
            li {
                margin-bottom: 1rem;
                a {
                    font-weight: 500;
                    font-size: 1.1rem;
                    color: var(--color-blue);
                    transition: 0.3s all;
                    &:hover {
                        color: var(--color-gray);
                    }
                    &.active {
                        font-weight: 600;
                        i {
                            transform: rotate(-90deg);
                        }
                    }
                    i {
                        margin-left: 1rem;
                    }

                    @media screen and(max-width:$xl-breakpoint) {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
    .detail-area {
        @media screen and(max-width:$xl-breakpoint) {
            margin-top: 2rem;
        }
        .text-area {
            margin-top: 2rem;
            p {
                font-size: 1.1rem;
                color: var(--color-black);
                font-weight: 500;
                @media screen and(max-width:$xl-breakpoint) {
                    font-size: 0.9rem;
                }
            }
        }
    }
    .last-blog-posts {
        @include last-blog-post;
    }
}

.about{
    position: relative;
    padding: 4rem 0rem 2rem 0rem;
    @media screen and(max-width:$sm-breakpoint) {
        padding: 2rem 0rem 2rem 0rem;
    }
    h4 {
        color: var(--color-blue);
        font-weight: 500;
        font-size: 2rem;
        @media screen and(max-width:$xl-breakpoint) {
            font-size: 1.3rem;
        }
        @media screen and(max-width:$lg-breakpoint) {
            margin-top: 1rem;
        }
    }
    p {
        font-size: 1rem;
        font-weight: 400;
        color: var(--color-gray);
    }
}

.blog {
    position: relative;
    padding: 4rem 0rem 2rem 0rem;
    @media screen and(max-width:$sm-breakpoint) {
        padding: 2rem 0rem 2rem 0rem;
    }
    .blog-item {
        margin-bottom: 3rem;
        @media screen and(max-width:$lg-breakpoint) {
            margin-bottom: 2rem;
        }
        h4 {
            color: var(--color-blue);
            font-weight: 500;
            font-size: 1.5rem;
            @media screen and(max-width:$xl-breakpoint) {
                font-size: 1.3rem;
            }
            @media screen and(max-width:$lg-breakpoint) {
                margin-top: 1rem;
            }
        }
        p {
            font-size: 1rem;
            font-weight: 400;
            color: var(--color-gray);
        }
        .btn {
            color: var(--color-blue);
            padding: 0;
            font-size: 1.4rem;
            font-weight: 500;

            @include focus;

            &:hover {
                i {
                    margin: 0rem 0rem 0.2rem 0.9rem;
                }
            }
            i {
                font-size: 1rem;
                margin: 0rem 0rem 0.2rem 0.5rem;
                transition: 0.3s all;
            }
        }
        &:nth-child(2n + 0) .row {
            flex-direction: row-reverse;
        }
    }

    .last-blog-posts {
        @include last-blog-post;
    }
}

.blog-detail {
    position: relative;
    padding: 4rem 0rem 2rem 0rem;
    @media screen and(max-width:$sm-breakpoint) {
        padding: 2rem 0rem 2rem 0rem;
    }

    h3 {
        color: var(--color-blue);
        font-weight: 500;
        font-size: 2rem;
        margin-top: 2rem;

        @media screen and(max-width:$xl-breakpoint) {
            font-size: 1.8rem;
        }
    }

    .text-area {
        p {
            font-size: 1.1rem;
            font-weight: 400;
            color: var(--color-gray);
            @media screen and(max-width:$xl-breakpoint) {
                font-size: 1rem;
            }
        }
    }
    .last-blog-posts {
        @include last-blog-post;
    }
}

.contact-us-area {
    position: relative;
    padding: 4rem 0rem;
    @media screen and(max-width:$sm-breakpoint) {
        padding: 2rem 0rem 2rem 0rem;
    }
    .col-area {
        border-right: 3px solid var(--color-blue);
        &:last-child {
            border: none;
        }
        @media screen and(max-width:$lg-breakpoint) {
            border: none;
        }
        .address,
        .email,
        .time,
        .phone {
            i {
                font-size: 4rem;
                color: var(--color-blue);
                margin-bottom: 1rem;
            }
            h5 {
                color: var(--color-blue);
                font-size: 1.4rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }
            a {
                font-size: 1.1rem;
                text-align: center;
                &:hover {
                    color: var(--color-gray);
                }
            }
        }
    }
}

.map-and-contact {
    padding: 1rem 0rem 3.5rem 0rem;
    @media screen and(max-width: $lg-breakpoint) {
        padding: 0;
    }
    .container-fluid {
        padding-left: 0rem;
    }
    .row-mobil {
        @media screen and(max-width: $lg-breakpoint) {
            flex-flow: wrap-reverse;
        }
    }
    .map-area {
        padding-right: 0rem;

        .map {
            height: 28rem;
            width: 100%;
            position: relative;

            iframe {
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                position: absolute;
            }
        }
    }
    .form-area {
        padding: 2rem 0rem;
        background-color: var(--color-blue);

        h3 {
            color: var(--color-white);
            margin-bottom: 2rem;
            @media screen and(max-width:$lg-breakpoint) {
                margin-left: 4rem;
            }
            @media screen and(max-width:$sm-breakpoint) {
                margin-left: 0rem;
            }
        }
        .form {
            padding: 2rem 8rem;
            @media screen and(max-width:1440px) {
                padding: 2rem 3rem;
            }
            @media screen and(max-width:$xl-breakpoint) {
                padding: 2rem;
            }

            form {
                width: 100%;
                max-width: 40rem;
                .form-group {
                    label {
                        color: var(--color-white);
                        margin-bottom: 0.5rem;
                        font-size: 1rem;
                        font-weight: 400;
                        letter-spacing: 0.1rem;
                    }
                    input,
                    textarea {
                        border-radius: 0;
                        @include focus;
                    }
                    textarea {
                        resize: none;
                    }
                }
                .button-area {
                    margin-top: 2rem;
                    .btn {
                        padding: 0;
                        color: var(--color-white);
                        font-size: 1.2rem;
                        font-weight: 400;
                        position: relative;

                        @include focus;

                        &::before {
                            content: "";
                            position: absolute;
                            background-color: var(--color-white);
                            height: 0.1rem;
                            width: 0%;
                            bottom: 0;
                            transition: 0.3s all;
                        }
                        &:hover {
                            &::before {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: var(--color-gray-footer);

    .contact-us {
        li {
            a {
                color: var(--color-white) !important;
            }
        }
    }

    .contact-us,
    .social-media {
        margin-bottom: 0;

        li {
            margin-right: 1rem;

            a {
                color: var(--color-blue);
                font-weight: 500;

                i {
                    font-size: 1.3rem;
                }

                img {
                    margin-right: 1rem;
                    max-width: 1.3rem;
                }
            }
        }
    }

    .footer-top {
        padding: 2.5rem 0rem;
        border-bottom: 1px solid var(--color-white);

        h3 {
            font-family: "Amalfi Coast";
            color: var(--color-white);
            font-size: 1rem;

            @media screen and(max-width:$xxl-breakpoint) {
                line-height: 3rem;
            }
        }

        .social-media {
            @media screen and(max-width:$lg-breakpoint) {
                margin-bottom: 1rem;
            }
        }

        form {
            .form-group {
                flex-flow: wrap;
                .form-control {
                    border: 3px solid var(--color-blue) !important;
                    background-color: transparent;
                    border-radius: 2.25rem;
                    color: var(--color-white);
                    width: 70%;
                    @include focus;

                    @media screen and(max-width:$xxl-breakpoint) {
                        width: 50%;
                    }

                    @media screen and(max-width:$lg-breakpoint) {
                        width: 72%;
                    }
                }
                .email-button {
                    margin-left: 1rem;
                    @media screen and(max-width:$sm-breakpoint) {
                        margin: 1rem 0rem 1rem 0rem;
                    }
                    button {
                        background-color: var(--color-blue);
                        color: var(--color-white);
                        border: none;
                        border-radius: 2.25rem;
                        padding: 0.8rem 3rem;
                        font-weight: 500;
                        font-size: 1.2rem;
                        transition: 0.3s all;
                        &:hover{
                            background-color: var(--color-gray);
                        }
                    }
                }
            }

            .form-check {
                margin-left: 0.5rem;
                .form-check-input {
                    margin-top: 0;
                    border: 3px solid var(--color-blue);
                    background-color: transparent;
                    margin-right: 0.5rem;

                    &:checked[type="checkbox"] {
                        background-color: var(--color-blue);
                    }
                    @include focus;
                }

                label {
                    margin-left: 0.2rem;
                    color: #ececec;
                    font-size: 1.1rem;
                    font-weight: 400;
                    a {
                        color: var(--color-white);
                        text-decoration: underline;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .footer-bottom {
        padding: 5rem 0rem;

        .brand {
            img {
                margin-bottom: 2rem;
            }
        }

        .contact-us {
            li {
                margin-bottom: 0.5rem;

                i {
                    color: var(--color-blue);
                    width: 2rem;
                }
            }
        }

        h5 {
            color: var(--color-white);
            letter-spacing: 0.1rem;
        }
        ul {
            li {
                a {
                    color: var(--color-dark-gray);

                    font-size: 1.1rem;
                    font-weight: 500;
                    transition: 0.2s;
                    @media screen and(max-width:$xxl-breakpoint) {
                        font-size: 1rem;
                    }
                    &:hover {
                        color: var(--color-blue);
                    }
                }
            }
        }
    }
}

.hover-icon {
    position: fixed;
    bottom: 1rem;
    right: 3rem;
    z-index: 999;
    width: 150px;
    height: 200px;
    @media screen and(max-width:$sm-breakpoint) {
        right: 1rem;
        width: 100px;
        height: 50px;
    }
    img {
        max-width: 5rem;
        @media screen and(max-width:$sm-breakpoint) {
            max-width: 3rem;
            right: 1rem;
        }
    }
    &:hover {
        .social-item {
            transition: 0.3s all;
            opacity: 9 !important;
            visibility: visible !important;
            &:hover {
                background-color: var(--color-gray);
            }

            &:nth-child(1) {
                top: 2.6rem !important;
                left: -1rem !important;
                @media screen and(max-width:$sm-breakpoint) {
                    left: 0.5rem !important;
                    top: -1rem !important;
                }
            }
            &:nth-child(2) {
                left: 1.2rem !important;
                top: 0rem !important;
            }
            &:nth-child(3) {
                right: 1.2rem !important;
                top: 0rem !important;
            }
            &:nth-child(4) {
                top: 2.6rem !important;
                right: -1rem !important;
                @media screen and(max-width:$sm-breakpoint) {
                    right: 0.5rem !important;
                    top: -1rem !important;
                }
            }
        }
    }
    cursor: pointer;
    .social-box {
        .social-item {
            background: var(--color-blue);
            width: 3.3rem;
            height: 3.3rem;
            border-radius: 50%;
            position: absolute;
            z-index: -1;
            transition: 0.3s all;
            opacity: 0;
            visibility: hidden;
            @media screen and(max-width:$sm-breakpoint) {
                width: 2rem;
                height: 2rem;
            }
            &:nth-child(1) {
                top: 4.6rem;
                left: 3rem;
            }
            &:nth-child(2) {
                top: 4.6rem;
                left: 3rem;
            }
            &:nth-child(3) {
                top: 4.6rem;
                right: 3rem;
            }
            &:nth-child(4) {
                top: 4.6rem;
                right: 3rem;
            }

            a {
                i {
                    font-size: 1.4rem;
                    color: var(--color-white);
                    @media screen and(max-width:$sm-breakpoint) {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

@keyframes gradients {
    0% {
        background-position: 0 0;
    }

    25% {
        background-position: 50% 0;
    }

    50% {
        background-position: 90% 0;
    }

    60% {
        background-position: 60%;
    }

    75% {
        background-position: 40%;
    }

    100% {
        background-position: 0 0;
    }
}
