@font-face {
    font-family: "Anybody";
    src: url("../fonts/Anybody-Regular.woff2") format("woff2"), url("../fonts/Anybody-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Anybody";
    src: url("../fonts/Anybody-Medium.woff2") format("woff2"), url("../fonts/Anybody-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Anybody";
    src: url("../fonts/Anybody-SemiBold.woff2") format("woff2"), url("../fonts/Anybody-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
    font-family: "Anybody";
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding-left: 0;
    margin-bottom: 0;

    li {
        list-style-type: none;

        a {
            text-decoration: none;
        }
    }
}

a {
    text-decoration: none;
    color: var(--color-gray);
}

:root {
    --color-blue: #24378d;
    --color-gray: #8e8e8e;
    --color-dark-gray: #5e5e5e;
    --color-white: #fff;
}

@mixin title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-blue);
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
}

header {
    nav {
        .top-line {
            border-bottom: 1px solid var(--color-blue);
            padding: 1.5rem 0rem;

            .contact-us,
            .social-media {
                margin-bottom: 0;

                li {
                    margin-right: 1rem;

                    a {
                        color: var(--color-gray);
                        font-weight: 500;

                        img {
                            margin-right: 1rem;
                        }
                    }
                }
            }

            .social-media {
                li {
                    a {
                        color: var(--color-blue);
                    }
                }
            }
        }

        .header-inner {
            border-bottom: 1px solid var(--color-blue);
            height: 6rem;

            .navbar-brand {
                img {
                    max-width: 11rem;
                    object-fit: cover;
                }
            }

            nav {
                .nav-menu {
                    li {
                        margin-right: 2rem;

                        &:last-child {
                            margin-right: 0;
                        }

                        a {
                            font-weight: 500;
                            font-size: 1.3rem;

                            &:hover {
                                color: var(--color-blue);
                            }
                        }
                    }
                }

                .search-button {
                    margin-left: 2rem;

                    a {
                        img {
                            max-width: 1.5rem;
                            object-fit: cover;
                        }
                    }
                }
            }

            .online-meeting-button {
                a {
                    font-weight: 600;
                    font-size: 1.4rem;
                    padding: 0.6rem 0.5rem;
                    background: rgb(47, 65, 144);
                    background: linear-gradient(90deg,
                            rgba(47, 65, 144, 1) 0%,
                            rgba(88, 100, 155, 1) 35%,
                            rgba(120, 127, 163, 1) 78%,
                            rgba(165, 167, 174, 1) 100%);
                    background-size: 300%;
                    color: var(--color-white);
                    animation-duration: 4s;
                    animation-iteration-count: infinite;
                    animation-name: gradients;
                }
            }

            .language-area {
                img {
                    margin-right: 0.4rem;
                }

                li {
                    margin-right: 0.5rem;

                    &:last-child {
                        margin-right: 0;
                    }

                    button {
                        background-color: transparent;
                        border: 0;
                        font-weight: 900;
                        font-size: 1rem;
                        color: var(--color-dark-gray);

                        &.active {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

.banner {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;


    .swiper-container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-slide {
        text-align: center;
        font-size: 48px;
        font-weight: 500;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}

.our-services {
    padding: 3rem 0rem;
    position: relative;
    background-color: var(--color-white);
    margin-left: auto;
    margin-right: auto;
    width: 92%;

    /* make room for arrows */
    padding-left: 2em;
    padding-right: 2em;

    h2 {
        @include title;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        content: "";
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .card {
            .card-body {
                padding: 2rem;
                text-align: left;

                .card-title {
                    font-weight: 600;
                }

                height: 15rem;
                background-color: var(--color-blue);
                color: var(--color-white);
            }
        }
    }

}

@keyframes gradients {
    0% {
        background-position: 0 0;
    }

    25% {
        background-position: 50% 0;
    }

    50% {
        background-position: 90% 0;
    }

    60% {
        background-position: 60%;
    }

    75% {
        background-position: 40%;
    }

    100% {
        background-position: 0 0;
    }
}